label {
    display: block;
    margin: 10px 0;
}
button {
       margin-top: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 200px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .btn-action{
    color: rgb(3, 3, 5);
    background-color: aqua;
    border: none;
  }
  .btn{
    border: none;
    outline: none;
    background-color: rgb(52, 230, 21);
    color: white;
  }
  .delete{
    background-color: red !important;
  }
